{% extends 'base.html' %}
{% block content %}
    <div class="main container text-center">
        {% if user.is_staff or user.is_superuser %}
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Post</button>
                <a href="{% url 'home' %}" class="btn btn-danger">Back</a>
            </form>
        {% else %}
            Ooops, an error occured..!
        {% endif %}
    </div>
{% endblock %}