{% extends 'base.html' %}
{% block title %}
Category
{% endblock %}
{% block content %}
    <div class="main container text-center">
        {% if user.is_superuser or user.is_staff %}
            <hr>
            <form method="post">
                {% csrf_token %}
                <table>{{form.as_table}}</table>
                <button class="btn btn-primary">Submit</button>
                <a href="{% url 'home' %}" class="btn btn-danger">Back</a>
            </form>
        {% else %}
            Ooops, an error occured..!
        {% endif %}
    </div>
{% endblock %}